*{
  box-sizing: border-box;
}
.google-drive-screen-container {
  height: 100vh;
}

 /* .sidebar {

} */

.images-container {
display: grid;
margin: 0;
height: 70%;
width: 100%;
place-items: center;
background-color: wheat;
} 
.slider-container{
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000004d;
}
.image-container {
  /* height: 50%;  */
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.large-image-container img{
  width: 500px;
  height: auto;
}

.btn{
  position: absolute;
  top: 50%;
  color: white;
  font-size: 1.6rem;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
}

.btn.prev{
  left: 10px;
}

.btn.next{
  right: 10px;
}

.btn:hover{
  opacity: 1;

}

.large-image-tablet {
  height: 70%; 
}

.large-image-mobile {
  height: 80%;
}

.carousel-slider {
  height: 20%; 
}

.folder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.folder-name {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  pointer-events: none;
}

.small-image,
.damage-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom-content {
  height: 30%; 
  height: 40%; 
}

.damage-items {
 
  white-space: nowrap;
}

.damage-selector .p-selectbutton {
  border-radius: 15px;
}

.damage-selector .p-button {
  border-radius: 15px;
  padding: 0 5px;
}

.damage-selector .p-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.damage-selector .p-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.damage-selector .p-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.tipo-label {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}


/* Carrusel */
.section-header {
  display: block;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

section {
  padding-top: 50px;
  overflow: hidden;
  position: relative;
}

a, a:link, a:visited {
  color: #212121;
  text-decoration: none;
}

.Carousel-slider {
  height: 560px;
  position: relative;
  width: 100%;
}

.Carousel-slider.fullwidth {
  height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
  height: 480px;
  line-height: 480px;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
  perspective: 800px !important;
}

.slider-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
  display: none;
  height: 320px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 320px;
  cursor: pointer;
  border: 5px solid #ffc107;
}

.indicators {
  top: 0;
  left: 50%;
  padding: 0;
  list-style-type: none;
  margin: 40px 0 0 -77px;
  position: absolute;
}

.indicators li {
  color: #255f8b;
  float: left;
  height: 16px;
  margin-right: 8px;
  text-align: center;
  width: 16px;
}

.indicators li:last-child {
  margin: 0;
}

.indicators a {
  background: #00416a;
  border-radius: 8px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.indicators .active a {
  background: #e4e5e6;
}

/* .superHero1 {
  background-image: url('img/superhero1.jpg');
  border-radius: 50px !important;
}

.superHero2 {
  background-image: url('img/superhero2.jpg');
  border-radius: 50px !important;
}

.superHero3 {
  background-image: url('img/superhero3.jpg');
  border-radius: 50px !important;
}

.superHero4 {
  background-image: url('img/superhero4.jpg');
  border-radius: 50px !important;
}

.superHero5 {
  background-image: url('img/superhero5.jpg');
  border-radius: 50px !important;
}

.superHero6 {
  background-image: url('img/superhero6.jpg');
  border-radius: 50px !important;
}

.superHero7 {
  background-image: url('img/superhero7.jpg');
  border-radius: 50px !important;
} */

